{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>新しいパスワードを入力してください.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">新しいパスワード : </label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">パスワードを確認してください : </label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="パスワードを変更する" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>パスワードのリセットに失敗しました</h1>
        <p>パスワードリセットのリンクは無効です.新しいパスワードリセットをリクエストしてください..</p>
    {% endif %}
{% endblock %}
