<div class="yohaku">
  <p>検索フォーム</p>
  <form action="{% url 'blogs' %}" method="GET">
    <div class="form-group">
      <div class="form-control-sm mx-auto style="width: 200px;">
        キーワード : {{ form.key_word }}
      </div>
    </div>

    <div class="form-group">
      <div class="form-control-sm">
          カテゴリの選択 : <br>
          {{ form.category }}
      </div>
    </div>

    <div class="form-group">
      <div class="form-control-sm">
            タグの選択 : <br>
            {{ form.tag }}
      </div>
    </div>

    <div class="form-group">
      <div class="form-control-sm">
          投稿者 : <br>
          {{ form.author }}
      </div>
    </div>

    <button class="btn btn-info" type="submit">検索</button>
  </form>
</div>
